@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border-color: transparent;
  box-sizing: border-box;
  user-select: none;
}

* {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  position: relative;
  overflow-y: auto;
}
main::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(238, 106, 255, 0.0470588235);
  border-radius: 10px;
  transition: 1s ease background-color;
}
main::-webkit-scrollbar:hover {
  background-color: #ee6aff;
}
main::-webkit-scrollbar-thumb {
  width: 15px;
  background-color: rgba(231, 53, 255, 0.062745098);
  border-radius: 10px;
  transition: 1s ease background-color;
}
main::-webkit-scrollbar-thumb:hover {
  background-color: #df12fa;
}

ul,
li {
  list-style: none;
}

::selection {
  background-color: #fc15a3;
  color: #fff;
}

.tw-btn {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 24px;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  background-color: #9146FF;
  transition: 0.5s ease background-color;
}
.tw-btn:hover {
  background-color: #3f206d;
}

.button-particles {
  position: relative;
}
.button-particles__button {
  position: relative;
  z-index: 2;
}
.button-particles__particles {
  position: absolute;
  background-color: #9146FF;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  border-radius: 30px;
  transform: scale(0);
  box-shadow: 0 0 0 0 #9146FF;
  z-index: 1;
}
.button-particles__particles:nth-of-type(odd) {
  background-color: transparent;
  border: 2px solid #9146FF;
}
@keyframes particles-1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 151px;
    top: -22px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(1) {
  animation: 1.5s 0.1s ease infinite particles-1;
}
@keyframes particles-2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 122px;
    top: 3px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(2) {
  animation: 1.5s 0.2s ease infinite particles-2;
}
@keyframes particles-3 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -37px;
    top: -24px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(3) {
  animation: 1.5s 0.3s ease infinite particles-3;
}
@keyframes particles-4 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -25px;
    top: 44px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(4) {
  animation: 1.5s 0.4s ease infinite particles-4;
}
@keyframes particles-5 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 120px;
    top: 42px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(5) {
  animation: 1.5s 0.5s ease infinite particles-5;
}
@keyframes particles-6 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -27px;
    top: 77px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(6) {
  animation: 1.5s 0.6s ease infinite particles-6;
}
@keyframes particles-7 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 47px;
    top: 107px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(7) {
  animation: 1.5s 0.7s ease infinite particles-7;
}
@keyframes particles-8 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 125px;
    top: -12px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(8) {
  animation: 1.5s 0.8s ease infinite particles-8;
}
@keyframes particles-9 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 122px;
    top: -112px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(9) {
  animation: 1.5s 0.9s ease infinite particles-9;
}
@keyframes particles-10 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 22px;
    top: -80px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(10) {
  animation: 1.5s 1s ease infinite particles-10;
}
@keyframes particles-11 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -59px;
    top: -107px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(11) {
  animation: 1.5s 1.1s ease infinite particles-11;
}
@keyframes particles-12 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -62px;
    top: 66px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(12) {
  animation: 1.5s 1.2s ease infinite particles-12;
}
@keyframes particles-13 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 7px;
    top: 30px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(13) {
  animation: 1.5s 1.3s ease infinite particles-13;
}
@keyframes particles-14 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 55px;
    top: 79px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(14) {
  animation: 1.5s 1.4s ease infinite particles-14;
}
@keyframes particles-15 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 38px;
    top: -62px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(15) {
  animation: 1.5s 1.5s ease infinite particles-15;
}
@keyframes particles-16 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 35px;
    top: 54px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(16) {
  animation: 1.5s 1.6s ease infinite particles-16;
}
@keyframes particles-17 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 75px;
    top: 54px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(17) {
  animation: 1.5s 1.7s ease infinite particles-17;
}
@keyframes particles-18 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 174px;
    top: -108px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(18) {
  animation: 1.5s 1.8s ease infinite particles-18;
}
@keyframes particles-19 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -67px;
    top: 34px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(19) {
  animation: 1.5s 1.9s ease infinite particles-19;
}
@keyframes particles-20 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -7px;
    top: 3px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(20) {
  animation: 1.5s 2s ease infinite particles-20;
}
@keyframes particles-21 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 154px;
    top: -66px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(21) {
  animation: 1.5s 2.1s ease infinite particles-21;
}
@keyframes particles-22 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 14px;
    top: -11px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(22) {
  animation: 1.5s 2.2s ease infinite particles-22;
}
@keyframes particles-23 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 168px;
    top: -101px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(23) {
  animation: 1.5s 2.3s ease infinite particles-23;
}
@keyframes particles-24 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 131px;
    top: -87px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(24) {
  animation: 1.5s 2.4s ease infinite particles-24;
}
@keyframes particles-25 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 79px;
    top: 7px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(25) {
  animation: 1.5s 2.5s ease infinite particles-25;
}
@keyframes particles-26 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 38px;
    top: 0px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(26) {
  animation: 1.5s 2.6s ease infinite particles-26;
}
@keyframes particles-27 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -4px;
    top: -59px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(27) {
  animation: 1.5s 2.7s ease infinite particles-27;
}
@keyframes particles-28 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -40px;
    top: -29px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(28) {
  animation: 1.5s 2.8s ease infinite particles-28;
}
@keyframes particles-29 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 33px;
    top: -113px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(29) {
  animation: 1.5s 2.9s ease infinite particles-29;
}
@keyframes particles-30 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 33px;
    top: -105px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(30) {
  animation: 1.5s 3s ease infinite particles-30;
}
@keyframes particles-31 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -8px;
    top: 103px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(31) {
  animation: 1.5s 3.1s ease infinite particles-31;
}
@keyframes particles-32 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 75px;
    top: -44px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(32) {
  animation: 1.5s 3.2s ease infinite particles-32;
}
@keyframes particles-33 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 160px;
    top: 120px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(33) {
  animation: 1.5s 3.3s ease infinite particles-33;
}
@keyframes particles-34 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: -1px;
    top: 115px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(34) {
  animation: 1.5s 3.4s ease infinite particles-34;
}
@keyframes particles-35 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    left: 49px;
    top: 27px;
  }
}
.button-particles__button:hover ~ .button-particles__particles:nth-of-type(35) {
  animation: 1.5s 3.5s ease infinite particles-35;
}

.start-block {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
}
.start-block__text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  z-index: 2;
}
.start-block__container-btn {
  margin-top: 50px;
}
.start-block__container-btn__button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  padding: 16px 18px;
  border-radius: 25px;
  cursor: pointer;
}

.title-bar {
  height: 20px;
  width: 100%;
  background-color: transparent;
  -webkit-app-region: drag;
  display: flex;
  flex-direction: row-reverse;
}

.list-control-panel {
  -webkit-app-region: no-drag;
  display: flex;
}
.list-control-panel li {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.list-control-panel li span {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.list-control-panel__collapse span {
  background-image: url("/main/icons/collapse-icon.svg");
}
.list-control-panel__collapse span:hover {
  background-color: #d0d2d5;
}
.list-control-panel__maximize-minimize span {
  background-image: url("/main/icons/minimize-maximize-icon.svg");
}
.list-control-panel__maximize-minimize span:hover {
  background-color: #d0d2d5;
}
.list-control-panel__maximize-minimize span.minimize {
  background-position-y: -20px;
}
.list-control-panel__close span {
  background-image: url("/main/icons/close-icon.svg");
}
.list-control-panel__close span:hover {
  background-color: #EC2929;
}

.container-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-footer__start {
  display: flex;
}
.container-footer__end {
  display: flex;
}

.viewers {
  display: flex;
  align-items: center;
}
.viewers__icon {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("/overlay/icons/viewers-icon.svg");
  background-repeat: no-repeat;
}
.viewers__count {
  margin-left: 2px;
  font-family: Montserrat;
  font-weight: 500;
  color: #ff0000;
  font-size: 14px;
}

.settings {
  display: flex;
  align-items: center;
}
.settings__icon {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.settings__icon svg {
  display: block;
  fill: #000000;
  transition: 0.3s ease fill;
}
.settings__icon:hover svg {
  fill: #3b3b3b;
}
.settings__text {
  margin-left: 4px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.stream-status {
  margin-right: 5px;
}
.stream-status__icon {
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
}
.stream-status__icon svg {
  fill: #d3d3d3;
}
.stream-status__status-text {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  padding: 3px;
  border-radius: 3px;
  text-align: center;
  transition: 5s background-color;
  color: #fff;
}
.stream-status__status-text--offline {
  background-color: rgba(59, 59, 59, 0.8274509804);
}
.stream-status__status-text--online {
  background-color: rgba(3, 252, 65, 0.7411764706);
}

.messages .message:not(:first-of-type),
.messages .reward-block:not(:first-of-type),
.messages .reward-message:not(:first-child) {
  margin-top: 50px;
}

.message {
  display: flex;
}
.message__container {
  margin-left: 5px;
}
.message__container__icons-users {
  display: inline-block;
  vertical-align: middle;
}
.message__container__icons-users__tw-icon {
  display: block;
  width: 15px;
  height: 17px;
  background: url("/overlay/icons/tw-icon.svg");
}
.message__container__username, .message__container__colon, .message__container__content {
  user-select: text;
}
.message__container__username {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 15px;
}
.message__container__colon {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  margin-left: 1px;
}
.message__container__content {
  font-family: "Montserrat";
  font-weight: 400;
  color: #fff;
  margin-left: 4px;
  overflow-wrap: anywhere;
}
.message__container__content--highlight {
  background-color: #9146FF;
  opacity: 0.7;
}

.reward-block {
  display: flex;
}
.reward-block__icons-users__tw-icon {
  margin-top: 4px;
  display: block;
  width: 15px;
  height: 17px;
  background: url("/overlay/icons/tw-icon.svg");
}

.reward {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: #c9c9c9;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
}
.reward span,
.reward img {
  vertical-align: middle;
}
.reward span {
  user-select: text;
}
.reward__icon {
  width: 20px;
  height: 20px;
}
.reward__points-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url("/overlay/icons/channel-points.svg") no-repeat;
}

.reward-message {
  display: flex;
}
.reward-message__container {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}
.reward-message__container__icons-users__tw-icon {
  margin-top: 4px;
  display: block;
  width: 15px;
  height: 17px;
  background: url("/overlay/icons/tw-icon.svg");
}
.reward-message__container__reward {
  color: #c9c9c9;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
}
.reward-message__container__reward img, .reward-message__container__reward span {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.reward-message__container__reward span {
  user-select: text;
}
.reward-message__container__reward__points-icon {
  display: inline-block;
  background: url("/overlay/icons/channel-points.svg");
}
.reward-message__container__content {
  color: #fff;
}

.emoteElement {
  vertical-align: middle;
}

.hide {
  display: none;
}