#Project
**/.vscode/
**/.idea/
**/css/

#Node.js
node.js/node_modules
node.js/style
node.js/package-lock.json

#Java
java/OverlayTwitchAPI/target
java/OverlayTwitchAPI/logs
java/OverlayTwitchAPI/twitch