.container {
    z-index: 2;
    flex: 1;
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;

    &__logged {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__open-overlay {
            width: 175px;
            height: 50px;
            background-color: $twitch-color;
            border-radius: 15px;
        }
    }
}