* {
    margin:0;
    padding: 0;
    border-color: transparent;
    box-sizing: border-box;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    flex: 1;
    background-color: #09111D;

    display: flex;
    flex-direction: column;
    overflow: hidden;;
}

ul, li {
    list-style: none;
}