.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    z-index: 1;
    &__twitch-logo {
        display: block;
        content: '';
        width: 42px;
        height: 49px;

        margin-top: 8px;
        margin-right: 16px;

        background-image: url('/main/icons/twitch-logo-icon.svg');
    }

    &__app-name {
        position: relative;
        color: white;
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 800;

        text-align: center;
        @include text-border(2px, $twitch-color);
        z-index: 1;
        user-select: none;
    }

    &__box {
        position: relative;
        & span {
            display: block;
            position: absolute;
            content: '';

            width: 100%;
            height: 25%;
            left: 0;
            top: 50%;
            transform: translate(0,-50%);
            background-color: $twitch-color;
            filter: blur(20px);
        }
    }
}