div {
    width: 50px;
    height: 50px;
    background-color: aqua;
}

.titlebar {
    -webkit-app-region: drag;
    width: 100px;
    height: 30px;
    background-color: #002fff;
    cursor: pointer;
}